<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="author"
      content="Daniel Mekenbaev, Nursultan Bexeit, Bexultan Abat"
    />
    <title>Online Bank Application</title>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo">
          <img src="images/logo.svg" alt="Bnkup logo" />
          Bnkup
        </div>
        <nav class="navigation">
          <ul class="menu">
            <li class="menu-item">
              <a href="#home" class="menu-link active">Home</a>
            </li>
            <li class="menu-item">
              <a href="#contact" class="menu-link">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <hr>

    <main class="main" id="home">
      <div class="wrapper">
        <section class="left">
          <h1 class="main-head">
            Welcome to <br />
            <span>Online Banking Service</span>
          </h1>
          <p class="main-text">
            You can <span>Transfer, Withdraw & Deposit</span> money
          </p>
          <div class="btn">
            <a href="signin.html" th:href="@{/signin}" class="signIn-btn btns">Sign In</a>
            <a href="signup.html" th:href="@{/signup}" class="signUp-btn btns">Sign Up</a>
          </div>
        </section>

        <section class="right">
          <img src="images/manWithMoney.svg" alt="main image" />
        </section>
      </div>
    </main>

    <footer id="contact">
        <div class="footer-wrapper">
            <div class="footer-img">
                <img src="images/logo.svg" alt="footer logo">
                <span class="logo-text">Bnkup</span>
            </div>

            <div class="daniel">
                <h4>Daniel Mekenbaev</h4>
                <p><a href="tel:+77075837312">+7(707)-583-7312</a></p>
                <p><a href="mailto:donniemek@gmail.com">donniemek@gmail.com</a></p>
            </div>

            <div class="nurs">
                <h4>Nursultan Bexeit</h4>
                <p><a href="tel:+77075837312">+7(707)-583-7312</a></p>
                <p><a href="mailto:donniemek@gmail.com">donniemek@gmail.com</a></p>
            </div>

            <div class="bex">
                <h4>Bexultan Abat</h4>
                <p><a href="tel:+77075837312">+7(707)-583-7312</a></p>
                <p><a href="mailto:donniemek@gmail.com">donniemek@gmail.com</a></p>
            </div>
        </div>

        <p>&copy;All rights reserved, 2023</p>
    </footer>
  </body>
</html>
